<header class="nav nav_header">
  <div class="container">
    <nav class="nav">
      <img
        class="img_logo"
        src="./assets/images/logo.png"
        alt="spotify_image"
      />

      <img
        class="burguer_menu"
        src="./assets/images/menu-icon.png"
        alt="burgermenu"
      />
      <ul class="li_menu">
        <li class="link_item">Ayuda</li>
        <li class="link_item">Premium</li>
        <li class="link_item">Descargar</li>
        <li class="link_item" role="separator">|</li>
        <li class="link_item">Registrarse</li>
        <li class="link_item">Iniciar Sesión</li>
      </ul>
    </nav>
  </div>
</header>
