<section>
  <div class="container">
    <h2>¿Por qué pasarte a Premium?</h2>
    <ul>
      <li>
        <p>Descarga música.</p>
        <p>Llévala siempre contigo.</p>
      </li>
      <li>
        <p>Sin anuncios.</p>
        <p>Disfruta de música sin interrupciones.</p>
      </li>
      <li>
        <p>Escucha lo que quieras</p>
        <p>Incluso en el móvil.</p>
      </li>
      <li>
        <p>Salta todas las canciones que quieras.</p>
        <p>Simplemente dale a siguiente.</p>
      </li>
    </ul>
  </div>
</section>
